:root {
  --white: whitesmoke;
  --black: #1b1b1b;
  --gray: #666;
  --primary: teal;
}

html, body {
  background: var(--white);
  color: var(--black);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  max-width: 40rem;
  margin: 0 auto;
}
a {
  color: var(--primary);
}

.title {
  font-family: 'Eczar', sans-serif;
  text-transform: uppercase;
}


header.masthead {
  padding: 2rem 0;
  /* text-align: center; */
}
.site-name {
  color: var(--black);
  font-size: 3rem;
  text-decoration: none;
}
.site-name:hover {
  font-weight: bold;
}


.text-muted {
  color: var(--gray);
}

.post-title {
  line-height: 1;
  font-size: 3rem;
}

main img {
  max-width: 100%;
}
